# all ignore by default
/*
/.**

# gitignore
!/.gitignore

# install script
!/install.sh

# vscode
!/.vscode/
!/.vscode/**/*
!/package.json
!/package-lock.json

# readme
!/README.md

# github
!/.github/
!/.github/**/*

# shell scripts
!/.bin/
!/.bin/**/*
!/bin/
!/bin/**/*

# home dir
## x
!/.xprofile
!/.Xresources
## xscreensaver
!/.xscreensaver
## icon
!/.face

# config dir
!/.config/
# compton
!/.config/compton.conf
## alacritty
!/.config/alacritty/
!/.config/alacritty/**/*
## conky
!/.config/conky/
!/.config/conky/**/*
## dunst
!/.config/dunst/
!/.config/dunst/**/*
## fontconfig
!/.config/fontconfig/
!/.config/fontconfig/**/*
## i3
!/.config/i3/
!/.config/i3/**/*
## pipewire
!/.config/pipewire/
!/.config/pipewire/**/*
## mpd
!/.config/mpd/
!/.config/mpd/**/*
## mpv
!/.config/mpv/
!/.config/mpv/**/*
## polybar
!/.config/polybar/
!/.config/polybar/**/*
## rofi
!/.config/rofi/
!/.config/rofi/**/*
## systemd/user/timidity.service
!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/timidity.service
